---
import { Icon } from "astro-icon/components";
import * as about from "../pages/about/about.md";
---

<article class="flex flex-col items-center gap-4 w-full">
  <div
    class="flex-shrink-0 w-20 md:w-24 rounded-full shadow-sm overflow-hidden"
  >
    <img
      alt="Rohit Patwa - Full Stack Developer Profile Picture"
      src="/profile.webp"
      class="grayscale-[50] hover:grayscale-0"
      width="96"
      height="96"
      loading="eager"
      decoding="async"
    />
  </div>

  <div class="text-center">
    <div class="flex justify-center items-center mb-2">
      <h1
        class="text-3xl font-extrabold tracking-tight"
        style="font-family: 'Cinzel', serif;"
      >
        {about.frontmatter.name}
      </h1>
    </div>
    <h2 class="text-lg mb-2 text-secondary">
      {about.frontmatter.designation}
    </h2>
    <div class="flex items-center justify-center mt-1">
      <Icon name="carbon:location" class="w-4 h-4 mr-1" />
      <p class="text-sm text-secondary">{about.frontmatter.location}</p>
    </div>
  </div>
</article>
